@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1666160763902') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jingyin:before {
  content: "\f0037";
}

.icon-danlieliebiao:before {
  content: "\e6e4";
}

.icon-tianjia:before {
  content: "\e622";
}

.icon-suiji:before {
  content: "\e60a";
}

.icon-zanting:before {
  content: "\e87a";
}

.icon-shengyin_shiti:before {
  content: "\eca5";
}

.icon-24gf-play:before {
  content: "\ea82";
}

.icon-shangyishou:before {
  content: "\e63c";
}

.icon-xiayishou:before {
  content: "\e63e";
}

